* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital,wght@1,300&family=Quicksand&display=swap");

.navbar {
    min-height: 80px;
    font-weight: bold;
    z-index: 2;
}

.boton-centrado-mobile {
    display: none;
}

.boton-centrado-desktop {
    display: flex;
    justify-content: space-between;
}

.carrito {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: #1a1a1a;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
}

.buscar {
    position: relative;
    padding: 5px;
}

.buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.form-control {
    display: inline;
    margin-right: 60px;
}

.boton {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 60px;
    position: absolute;
    background: #1a1a1a;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 240px;
}

.buscar input:focus {
    width: 240px;
}

.nav-link {
    color: #1a1a1a;
}

.nav-link:hover {
    color: #1a1a1a;
}

.logo-brand {
    min-width: 90px;
    max-width: 90px;
}

.navbar-toggler {
    font-size: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

@media (max-width: 575.98px) {
    .boton-centrado-desktop {
        display: none;
    }

    .boton-centrado-mobile {
        display: inline;
        margin-bottom: 55px;
        margin-left: 185px;
    }

    .boton-centrado-mobile,
    .boton {
        margin-top: 10px;
    }

    .carrito {
        width: 45px;
        height: 45px;
        line-height: 45px;
        position: absolute;
        background: #1a1a1a;
        text-align: center;
        color: white;
        font-size: 18px;
        border-radius: 50%;
    }



    .boton {
        width: 45px;
        height: 45px;
        line-height: 45px;
        position: absolute;
        background: #1a1a1a;
        text-align: center;
        color: white;
        font-size: 18px;
        border-radius: 50%;
    }

    .form-control {
        display: none;
        margin-right: none;
    }

    .buscar:hover input {
        width: none;
    }

    .buscar input:focus {
        width: nonex;
    }
}


p {
    color: #ffffff;
}

ul {
    color: #ffffff;
    list-style: none;
    padding: 0;
}

span {
    font-family: 'Fugaz One', cursive;
    font-family: 'Lato', sans-serif;
}

.logo {
    padding-top: 80px;
    text-align: center;
    color: #ffffff;
    font-size: 3em;
}

.logo span {
    color: #ffffff;
}

.container-boton-wsp {
    position: fixed;
    border: 1px solid #fff;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 10px;
    background-color: #2e6329;
}

.container-boton-wsp:hover {
    transform: scale(1.1);
}

.boton-wsp {
    width: 50px;
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
}

footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: auto;
    margin: auto;
    background-color: #1a1a1a;
}

footer .box-footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

footer .box-footer h2,
footer p {
    margin-bottom: 30px;
    color: #f8f9fa;
    font-weight: 700;
}

footer .box-footer a:hover {
    opacity: 0.8;
}

footer .box-copyright {
    width: auto;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

footer .box-copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    font-family: 'Fugaz One', cursive;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
    font-family: 'Fugaz One', cursive;
    font-family: 'Lato', sans-serif;
}


p {
    font-size: 18px;
    color: #000;
    font-family: 'Fugaz One', cursive;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

a p {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-sm {
    margin-top: 30px;
}

.topmargin-lg {
    margin-top: 60px;
}

.topmargin-lg {
    margin-top: 60px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1170px;
    padding: 1.5em; }

html {
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
}



.boton-menu {
align-items: center;
}



.boton-carrito {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: #1a1a1a;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    outline: none; }

.numerito {
    background-color: #ffffff;
    color: #000;
    padding: 0.25rem;
    border-radius: .25rem;
}
.carrito-vacio, .carrito-comprado {
    font-weight: 800;
    display: none;
    color: #000;
}    

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    padding:  .5rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: gray;
    padding: 1rem;
    border-radius: 1rem;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: gray;
    padding: .7rem;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.carrito-acciones-total p {
    margin-top: 18px;
}

.carrito-acciones-comprar {
    border: 0;
    background-color:#000;
    padding: .7rem;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}


body {
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #ffffff;
    height: 10px;
}

#foto-bienvenido-home,
#foto-bienvenido-productos {
    padding-top: 5px;
    background-size: cover;
    color: #ffffff;
}

#foto-bienvenido-home {
    padding-top: 5px;
    background-size: cover;
    color: #ffffff;
    background-image: url(fotos/matebienvenido.jpg);
}

#foto-bienvenido-productos {
    background-image: url(fotos/Mmates.jpg);
}

.texto {
    max-width: 800px;
    margin: 280px auto 170px auto;
    text-align: center;
    font-weight: 800;
}

.quienes-somos {
    position: absolute;
    top: 80%;
    left: 50%;
}

#about {
    background-color: #1a1a1a;
}

#about h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding-top: 35px;
}




.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-centrado {
    max-width: 800px;
    margin: 120px auto 60px auto;
    text-align: center;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.caja-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.caja-container img {
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.caja-container:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.caja-detalles {
    position: absolute;
    left: 40%;
    right: 50%;
    bottom: 50%;
    top: 50%;
    color: #1a1a1a;
    -webkit-text-stroke: 2px #ffffff;
    z-index: 1;
}

.caja-detalles a .text-color {
    font-size: 48px;
    font-weight: 800;
    line-height: 80px;
    color: #1a1a1a;
    margin-bottom: 30px;
}

.contenedor-productos {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.contenedor-productos .producto {
    border-radius: 6px;
    width: 330px;
    height: 500px;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.producto > img {
    width: 100%;
    height: 60%;
    object-fit: cover; }

.informacion {
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: column;
    border-top: 1px solid #e6e6e6;
    padding: 1em;
}

.precio {
    font-size: 1.5em;
    font-weight: 700;
}

.envio {
    color: #00a650;
    font-size: 0.9em;
    padding-bottom: 7px;
    font-weight: 800;
}

.descripcion {
    font-weight: 300;
    font-size: 1em;
    font-weight: 800;
}

.producto:hover {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}



.tipo-de-envio {
    background-color: #3483fa;
    color: white;
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px;
}

.producto button  {
    padding: 7px;
    color: #ffffff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.producto button:hover {
    opacity: 0.8;
    transition: 1s;
}

/* .modal-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
} */

/* .modal-Container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #ffffff;
    width: 100%;
}

.modal-tittle {
    justify-self: start;
}

.modal-button {
    cursor: pointer;
}

.modal-Container>.modal-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-Container>div>img {
    height: 130px;
    width: 130px;
}

.total.contenido {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.eliminar-producto {
    cursor: pointer;
}

.cantidad-carrito {
    right: 4px;
    top: 400px;
    font-size: 12px;
    padding: 5px;
    border-radius: 60px;
    background-color: #06ac38;
}

.restar {
    cursor: pointer;
}

.sumar {
    cursor: pointer;
} */